@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}
/*
nav {
	position: fixed;
	width: 100%;
}

ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

ul {
	height: 50px;
	background-color: white;
	text-align: center;
}

ul li a {
	color : black;
	color : rgb(144, 34, 156);
	color : #f10d43;
	color : rgba(144, 34, 156, 0.5);
	color : #834ac3;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
}*/

.bg-light {
    background-color: #ffffff!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #834ac3;
    font-weight: 900;
    text-transform: uppercase;
}

.header {
	height: 100vh;
	background-image: url('../images/header_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.header__box>p{
	margin-bottom: 0;
} 

.header__box:first-child {
	margin-top: 5rem;
}

img,
.header-img {
	width: 100%;
	height: auto;
}

.header__box h1,
.header__box p {
	color: #FFFFFF;
	font-size: 1.8rem;
}

.proj-img {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: 1px solid black;
}

.skill-list{
	margin-left: 1.5rem;
}

.footer{
	height: 50px;
	background-color: #40248f;
	color: #ffffff;
	margin-top: 2rem;
	text-align: center;
	justify-content: center;
}

img.social{
	width: 24px;
	height: 24px;
}

.footer-container {
	height: 100%;
	justify-content: center;
	align-items: center;
}


@media(min-width : 576px) {
	.header__box h1 {
		color: green;
		font-size: 2.2rem;
		margin-top: 6rem;
	}
	.header__box p{
		color: yellow;
		margin-top: 0.8rem;
	}

	.header__box {
		margin-top: 2rem;
	}
}

@media(min-width : 768px) {
	.header {
		flex-direction: row;
	}
	.header__box h1 {
		color: red;
		font-size: 2.2rem;
		margin-top: 0;
	}
	.header__box p{
		color: blue;
	}
	.header__box {
		margin-top: 0;
	}

}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 1s;
}